// global
body{
    height: 4000px;
}
.text-white{
    color:#fff;
}
.title{
    color: $black;
    margin: 30px auto 40px auto ;
    font-size: 26px;
}
.border-bottem{
    border-bottom: 1px solid $lightBlack;
}