.categories{
  
    .widget{
           padding:10px 0  8px 0;
           border-top:1px solid $darkGray;
           .collapse{
               transition: all 0.4s ease-in-out !important;
           }
    }
    .widget-clean{
        border-top:none;
         .filter{
           
            font-size: 18px;
            font-weight: 400;
            text-transform: capitalize;
            display: flex;
            justify-content: space-between;
            a{
                color: $mainGolden;
                text-decoration: none;
            }
        }
    }


    // start collapsible content

    
    .collapsible {
        background-color: transparent ;
        color: $black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-top: 1px solid $gray;
        padding: 8px 0; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
        font-size: 18px;
        }
    }

       

     .content {
        padding: 0px 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        background-color: transparent;
        }

        // end collapsable content
    
        
            a.widget-title{
                color: $lightBlack;
                text-decoration: none;
                font-size:18px;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                i{
                    font-size: 16px;
                    margin-right: 16px;
                    margin-top: 8px;
                }
            }
           
        
        .widget-body{
              .filter-items{
                  .filter-item{

                      display: flex;
                      justify-content: space-between;
                      .custom-checkbox{
                          input{
                             width:16px;
                             height: 16px;
                             top:3px;
                             position: relative;
                             &:checked{
                                 background-color: $black;
                             }
                          }
                          label{
                             margin-left: 8px;
                             color: $black;
                          }
                      }
                      label.item-count{
                        margin-right: 0px;
                        background-color: $gray;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;
                        color: $lightBlack;
                        width:30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin-top: auto;
                        vertical-align: middle;
                      }
                  }
              }
        }

       
        
    
}

.products{
    @include specify;
}

.show{
   height: auto !important;
}