
.page-header{
    padding: 3rem 0 3rem;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    color: $black;
    background-color: $lightGray;
    z-index: 40;
    h1{
        font-size: 40px;
        font-weight: 400;
        text-transform: capitalize;
        span{
            display: block;
            font-size: 22px;
            margin-top: 10px;
            color: $mainGolden;
        }
    }
}



