// product
.product:hover{
    box-shadow: 2px 0px 4px 5px rgba(240,240,240,1);
    transition: all 0.3s  ease-in-out ;
    .product-action-vertical{
        opacity: 1 !important;
        right: 10px !important;
    }
}


.product{     
       
    .product-media{
        position: relative; 
        .product-action-vertical{
            position: absolute;
            top: 30px;
            right: 40px;
            opacity: 0;
            transition:  all 0.4s ease-in-out;
            .btn-product-icon{             
                color:$mainGolden;
                background-color: $white;
                text-decoration: none;
                border-radius: 16px;
                display: block;
                margin-bottom: 6px;
                padding: 4px 8px;           
                transition: all 0.3s ease-in-out;    
                i{
                    font-size: 14px;
                }        
                &:hover{
                    background-color: $mainGolden;
                    color: $white;
                }
                          
            }
          
         }
 


        .product-label{
            color: $white;
            display: block;
            width: auto;        
            padding: 6px 8px;
            position: absolute;
            top: 20px;
            left: 20px;
            text-align: center;
            font-size: 14px;
            line-height: 1;
        }
        .label-circle{
            
            border-radius: 50%;
            width: 50px;
            height: 50px;
            vertical-align: center;
            padding-top: 12px;
        }
        .label-square{
            border-radius: none;
            
        }
        .label-sale{
            background-color: $crimson;
        }
        .label-new{
            background-color: $lemon;
        }
        .label-out{
            background-color: $darkGray;
        }
    }
    
    .product-action{
        background-color: rgba(255,255,255,0.95);
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;  
        height: 60px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        opacity: 0;
        transition: all 0.3s ease-in-out;
        a{
            color: $lightBlack;
            font-size: 16px;
            padding: auto 8px;
            text-decoration: none;
            
            i{
                color: $mainGolden;
                margin-right: 8px;
            }
            &:hover{
                color: $mainGolden;
                text-decoration: none;

            } 
        }
    }

    .action-icon-top{
        text-align: center;
        height: 80px;
        padding: 30px auto;
        font-size: 14px;

        i{
            display: block;
            margin: 6px auto;
            text-decoration: none;
        }
    }
    


    .product-media:hover .product-action 
        {   
            opacity: 0.9 !important;
        }
    
    .product-action-inner{
  
        padding-left: 20px;
        .ratings-container{            
            font-size: 14px;
            margin-left: 0;
            padding-left: 0;
        }
        
    }
    


    .product-cat{
      a{
          text-decoration: none;
          font-size:14px;
          color:$lightBlack;
          text-transform: capitalize;
          &:hover{
              text-decoration: none;
              color: $lightBlack;
          }
      }
    }
    
    .product-title{
      a{
       text-decoration: none;
       color: $black;
       font-size: 18px;
       text-transform: capitalize;
       &:hover{
           color: $mainGolden;
           text-decoration: none;
       }
      }   
    }
    .product-price{
      color: $lightGray;
      font-size: 20px;
    }
    .product-size{
        margin-top: 10px;
        a{
             background-color: $lightGray;
             color: $black;
             padding: 4px 6px ;
             text-decoration: none;
             font-size: 14px;
             &:hover{
                 background-color: black;
                 color: $white;
                 text-decoration: none;
             }
        }
    }
    .ratings-container{
        margin-top: 10px;
        padding: 10px 50px;
        display: block;
        padding-bottom: 30px;
        //justify-content: space-around;
        font-size: 16px;
        .ratings-val{
            i{
                color: $darkYellow;
            }
        }
        .ratings-text{
            font-size: 16px;
            color: $lightGray;
        }
    } 
    a{
        transition: all 0.3s ease-in-out ;
    }
}



// product 2 
.product-2{   

      .product-media{    
             
       
        
        .product-action-dark{
            height: 36px;
            opacity: 0;
           a{
            color: $white;
            transition: all 0.3s ease-in-out;
            &:hover{
                color:$mainGolden
            }
           }
           background-color: $black;
        }
    }
}


    .product-3{
             
                  transform:translateY(0px);
                  animation-delay: 0.6s !important;  
                 .product-action-slide-up{
                     background-color: rgba(255,255,255,1) !important;
                     opacity: 0 !important;
                     display: flex;
                     height: 40px;
                     justify-content: center;
                     border-bottom: 1px solid $darkGray;
                     animation-delay: 0.6s;        
                    }
                    &:hover{
                        .product-action-slide-up{
                            opacity: 1 !important;
                            border-bottom: 1px solid $mainGolden;
                        }
                        transform: translateY(-20px);
                    }             
     }





@media screen and (max-width: 766px) {
    
}
































